body{
    background-color: #2e8dd8;
}
#container{
background-color: #d1d9ea;
margin: 40px auto 40px auto;
width: 1000px;
border: 1px black solid;
padding: 20px;
}
#name{
font-family: font-family: "Times New Roman", Times, serif;
font-size: 60px;
margin-top: 25px;
}
#bio{
margin: 0px;
}
#john{
float: right;
}
.box{
background-color: #00ccff;
height: 2rem;
border: 1px black solid;
}
.divi{
padding: 3px;
}
span{
padding: 7px;
font-size: 22px;
}
.bord{
border: 1px solid black;
margin-bottom: 14px;
margin-top: 36px;
}
p{
font-family: Georgia, Times, "Times New Roman", serif;
padding: 10px;
margin: 0px;
font-size: 18px;
}
.tbl{
margin: 10px auto 10px auto;
width: 980px;
border: 1px black solid;
border-collapse: collapse ;
}
.tbl th, td{
font-size: 18px;
border: 1px black solid;
padding: 5px;
text-align: center;
}
.lt{
margin: 10px auto 10px auto;
width: 980px;
border: 1px black solid;
border-collapse: collapse ;
text-align: left;
}
.list{
display: flex;
font-size: 18px;
}
#kslist{
font-size: 18px;
}
.dec{
font-size: 18px;
padding: 10px;
}